<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compte form</title>
</head>

<body class="body">
    <div layout:fragment="content">
        <p></p>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    cherchrer un compte par Code
                </div>
                <div class="panel-body">
                    <form th:action="@{/save}" method="GET">
                        <div class="form-group">
                            <label>codecompte :</label>
                            <input type="text" name="codeCompte" th:value="${codeCompte}" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-primary">chercher</button>
                    </form>
                    <div th:if="${exception}" class="text-danger" th:text="${exception.message}"></div>
                    <!-- <p th:text="${compte.numCompte}"></p>
                    <p th:text="${compte.client.nom}"></p>
                    <p th:text="${compte.client.email}"></p>
 -->
                </div>
            </div>
            <div class="panel panel-primary" th:if="${compte}">
                <div class="panel-heading">
                    Account informations
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="control-label">N° de compte: </label>
                        <label th:text="${compte.numCompte}"></label>
                    </div>
                    <div class="form-group">
                        <label for="control-label">solde :</label>
                        <label th:text="${compte.solde}"></label>
                    </div>
                    <div class="form-group">
                        <label for="control-label">Date de creation:</label>
                        <label th:text="${compte.dateCreation}"></label>
                    </div>
                    <div class="form-group">
                        <label for="control-label">Type :</label>
                        <label th:text="${compte.class.simpleName}"></label>
                    </div>
                    <div class="form-group" th:if="${compte.class.simpleName=='compteCourant'}">
                        <label for="control-label">Decouvert :</label>
                        <label th:text="${compte.decouvert}"></label>
                    </div>
                    <div class="form-group" th:if="${compte.class.simpleName=='compteEpargne'}">
                        <label for="control-label">Taux :</label>
                        <label th:text="${compte.taux}"></label>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    cherchrer un compte par Code
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    La liste des operations sur ce compte
                </div>
                <div class="panel-body">
                    <table class="table table striped">
                        <tr>
                            <th>Num </th>

                            <th>Type </th>
                            <th>Date </th>
                            <th>montant </th>

                        </tr>
                        <tr th:each="o:${operationlist}">
                            <td th:text="${o.numero}"></td>

                            <td th:text="${o.class.simpleName}"></td>
                            <td th:text="${o.dateOperation}"></td>
                            <td th:text="${o.montant}"></td>
                        </tr>
                    </table>
                    <ul class="nav nav-pills">
                        <li th:class="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
                            <a th:href="@{save(page=${status.index},codeCompte=${codeCompte})}"
                                th:text="${status.index}"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    </div>
</body>

</html>